// Gradient colours
$g:
  rgba(255, 153, 0, 0.2),
  rgba(0, 102, 255, 0.2),
  rgba(0, 255, 106, 0.2),
  rgba(255, 0, 119, 0.2),
  rgba(0, 247, 255, 0.2),
  rgba(255, 0, 212, 0.2);

.preview {
  &__window {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem calc(2rem + 5vw);
    background:
      linear-gradient(45deg, nth($g, 1), nth($g, 2)),
      linear-gradient(-75deg, nth($g, 5), nth($g, 6), nth($g, 6)),
      linear-gradient(145deg, nth($g, 3), nth($g, 4)),
      linear-gradient(32deg, nth($g, 1), nth($g, 1), nth($g, 5)),
      linear-gradient(#f58849, #636670);
  }

  &__modal {
    min-width: calc(18em + 10vw);
    max-width: 100%;
    background: $background;
    border-radius: 0.4rem;
    box-shadow:
      0 10px 30px rgba(#000, 0.15),
      0 30px 70px -10px rgba(#000, 0.15),
      0 11px 8px -8px rgba(#000, 0.25);

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid lighten($background, 5%);

      .dot {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        padding: 0;
        background: lighten($background, 12%);
        margin: 0 4px 0 0;

        &--red {
          background: #dd1e11;
        }

        &--yellow {
          background: #f1a008;
        }

        &--green {
          background: #37be32;
        }
      }

      .name {
        font-size: 0.85em;
        color: lighten($background, 25%);
        line-height: 1.2em;
        min-height: 1.2em;
        max-width: calc(100% - 50px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        text-align: right;

        &:not(:empty)::before {
          content: "@";
        }
      }
    }

    &__output {
      padding: 0.9rem 1rem 2rem;
      overflow: hidden;

      pre {
        margin: 0;
        padding: 0;
        font-family: monospace;
        min-height: 5rem;
        white-space: pre-wrap;
        background: transparent;

        &:empty::before {
          content: "Enter your code to the left";
          color: lighten($background, 25%);
        }
      }
    }
  }
}
